In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv("phl_exoplanet_catalog_2019.csv")

data.head()

,P_NAME,P_STATUS,P_MASS,P_MASS_ERROR_MIN,P_MASS_ERROR_MAX,P_RADIUS,P_RADIUS_ERROR_MIN,P_RADIUS_ERROR_MAX,P_YEAR,P_UPDATED,...,P_HABZONE_CON,P_TYPE_TEMP,P_HABITABLE,P_ESI,S_CONSTELLATION,S_CONSTELLATION_ABR,S_CONSTELLATION_ENG,P_RADIUS_EST,P_MASS_EST,P_SEMI_MAJOR_AXIS_EST
0,11 Com b,3.0,6165.86330,-476.74200,476.74200,NaN,NaN,NaN,2007,2014-05-14,...,0,Hot,0,0.083813,Coma Berenices,Com,Berenice's Hair,12.082709,6165.86330,1.29
1,11 UMi b,3.0,4684.78480,-794.57001,794.57001,NaN,NaN,NaN,2009,2018-09-06,...,0,Hot,0,0.082414,Ursa Minor,UMi,Little Bear,12.229641,4684.78480,1.53
2,14 And b,3.0,1525.57440,NaN,NaN,NaN,NaN,NaN,2008,2014-05-14,...,0,Hot,0,0.081917,Andromeda,And,Andromeda,12.848516,1525.57440,0.83
3,14 Her b,3.0,1481.07850,-47.67420,47.67420,NaN,NaN,NaN,2002,2018-09-06,...,0,Cold,0,0.145241,Hercules,Her,Hercules,12.865261,1481.07850,2.93
4,16 Cyg B b,3.0,565.73385,-25.42624,25.42624,NaN,NaN,NaN,1996,2018-09-06,...,1,Warm,0,0.368627,Cygnus,Cyg,Swan,13.421749,565.73385,1.66

In [2]:
m=data.P_MASS
r=data.P_RADIUS

In [3]:
m

0       6165.86330
1       4684.78480
2       1525.57440
3       1481.07850
4        565.73385
           ...
4043           NaN
4044           NaN
4045       1.38000
4046       1.75000
4047       1.68000
Name: P_MASS, Length: 4048, dtype: float64

In [4]:
r

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
4043    1.87
4044    2.76
4045     NaN
4046     NaN
4047     NaN
Name: P_RADIUS, Length: 4048, dtype: float64

In [5]:
df=data[['P_MASS','P_RADIUS']]

In [6]:
df.head()

       P_MASS  P_RADIUS
0  6165.86330       NaN
1  4684.78480       NaN
2  1525.57440       NaN
3  1481.07850       NaN
4   565.73385       NaN

In [7]:
n=2*m*0.0000000000667408

In [8]:
n

0       8.230293e-07
1       6.253326e-07
2       2.036361e-07
3       1.976967e-07
4       7.551506e-08
            ...
4043             NaN
4044             NaN
4045    1.842046e-10
4046    2.335928e-10
4047    2.242491e-10
Name: P_MASS, Length: 4048, dtype: float64

In [9]:
col=n/r

In [10]:
col

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4043   NaN
4044   NaN
4045   NaN
4046   NaN
4047   NaN
Length: 4048, dtype: float64

In [11]:
col=col**(1/2)

In [12]:
col

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4043   NaN
4044   NaN
4045   NaN
4046   NaN
4047   NaN
Length: 4048, dtype: float64

In [13]:
type(col)

pandas.core.series.Series

In [14]:
#df.merge(col,how='right')